<!-- Header -->
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="/" >Gig Market Place</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, :class=>"header_links"%></li>
        <% if user_signed_in? %>
          <li><%= link_to 'New Gig', new_gig_path, :class=>"header_links" %></li>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle header_links" data-toggle="dropdown"><%= image_tag current_user.avatar.url(:tiny) , :style=>"width: 30px;"%> &nbsp;&nbsp;<%= current_user.name %> <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Inbox", conversations_path(username: current_user.username ) %></li>
              <li><%= link_to "Collection", my_collection_path %></li>
              <li><%= link_to "My Orders", orders_path(username: current_user.username) %></li>
              <li><%= link_to "Profile", profile_path(username: current_user.username ), :method=>"put" %></li>
              <li><%= link_to "Sign out", destroy_user_session_path,:method => :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign In', new_user_session_path, :class=>"header_links" %></li>
          <li><%= link_to 'Join', new_user_registration_path, :class=>"header_links" %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav dropdown">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select Category <span class="caret"></span></a>
          <ul class="sub_menu dropdown-menu">
            <% Category.all.each do |category|%>
              <li><%= link_to category.title, search_by_category_path(category_url: category.category_url) %>
                <ul class="from_top">
                  <li><b> <%= category.title %> </b></li>
                  <% category.sub_categories.each do |subcategory| %>  
                    <li><%= link_to subcategory.title, search_by_subcategory_path(category_url: category.category_url, subcategory_url: subcategory.subcategory_url) %></li>
                  <% end %>  
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= form_tag search_path, :method => 'post', :class => "navbar-form navbar-right" do %>
            <li class="form-group" >
              <%= text_field_tag :search, params[:search], :class=>"form-control", :placeholder=>"Search" %>
              <%= submit_tag "Search", :class=>"btn btn-default" %>
            </li>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% if params[:controller] == "home" && params[:action] == "index" && !params[:search].present? %>
  <div class="landing_center"><br/>
    <h1 align="center">Welcome to Gig Market Place <br/>
      The world's largest marketplace for services, starting at $5 <br/><br/>
      <%= link_to "Start Now", new_user_registration_path, :class=>"btn btn-success start_now" %>
    </h1>
  </div>
<% end %>

<nav class="navbar navbar-default category_list" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% Category.all.each do |category|%>  
          <li><%= link_to category.title, search_by_category_path(category_url: category.category_url) %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
