<!DOCTYPE html>
<html>
<head>
  <title>GIG Market Place</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
    <%= render "layouts/header" %>
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>
    <br/>
    <% if params[:controller] == "home" %>
      <%= yield %>
    <%else%>
      <div class="container">
        <%= yield %>
      </div>
    <% end %>

    <%= render "layouts/footer" %>

</body>

</html>
