<%= form_for [gig, extragig] do |f| %>
  <% if extragig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(extragig.errors.count, "error") %> prohibited this extragig from being saved:</h2>

      <ul>
      <% extragig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="full_gig_blog top_80">
    <div class="labels">TITLE</div>
    <div class="fields">
      <%= f.text_area :title, :class=>"form-control", :placeholder=>"I will do something I'm really good at ...... " %>
    </div>
  </div><!--full_blog-->
     
  <div class="full_gig_blog">
    <div class="labels tp_sp">AMOUNT CHARGED <br/>(IN $)</div>
    <div class="fields">
      <div class="col-lg-4">
        <%= f.number_field :amount, :class=>"form-control" %>
      </div>
    </div>
      
  </div><!--full_blog--> 
     
  <div class="full_gig_blog">
    <div class="labels tp_sp">EXPRESS BOOLEAN</div>
    <div class="fields">
      <%= f.check_box :express_boolean %>
    </div>
  </div><!--full_blog--> 

  <div class="full_gig_blog">
    <div class="fields">
      <%= f.submit :class=>"btn btn-success btn-large" %>
    </div>
         
  </div><!--full_blog-->
<% end %>
