<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @extragig.title %>
</p>

<p>
  <strong>Amount per extragig:</strong>
  <%= @extragig.amount %>
</p>

<p>
  <strong>Express boolean:</strong>
  <%= @extragig.express_boolean %>
</p>

<%= link_to 'Edit', edit_gig_extragig_path(@gig.id, @extragig.id) %> |
<%= link_to 'Back', gig_extragigs_path(@gig) %>
